# --- Core ---
docling>=2.97.0
transformers>=4.42.0
torch>=2.4.0
torchvision>=0.19.0
torchaudio>=2.4.0

# --- Dependencies ---
hnswlib==0.8.0
numpy>=1.26.4
sentence-transformers>=3.0.1
scikit-learn>=1.4.2
requests>=2.32.2
pandas>=2.2.2
fastapi>=0.110.0
uvicorn[standard]>=0.29.0
PyYAML>=6.0.1
tqdm>=4.66.2

# --- Mac Audio ---
mlx-whisper; sys_platform == 'darwin'
ffmpeg-python

ocrmac >= 1.0.1; sys_platform == 'darwin'